.r-zc-table {
  box-sizing: border-box;
}
.r-zc-table table {
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  table-layout: fixed;
  width: 100%;
}
.r-zc-table-wrapper {
  box-sizing: border-box;
  position: relative;
}
.r-zc-table-header {
  box-sizing: border-box;
  background-color: #f5f5f9;
}
.r-zc-table-header table tr th[colspan]:not([colspan='1']) {
  text-align: center;
}
.r-zc-table-header .react-resizable {
  position: relative;
  background-clip: padding-box;
}
.r-zc-table-header .react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize;
  z-index: 1;
}
.r-zc-table-body {
  box-sizing: border-box;
  background-color: #fff;
}
.r-zc-table-body table tr td {
  border-top: 1px solid #e8e8e8;
}
.r-zc-table-fixed {
  box-sizing: border-box;
}
.r-zc-table-fixed-item {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.r-zc-table-fixed-item table {
  width: auto;
}
.r-zc-table-fixed-item-left {
  left: 0;
}
.r-zc-table-fixed-item-right {
  right: 0;
}
.r-zc-table-cell {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: '宋体,Simsun';
  font-weight: normal;
}
.r-zc-table-small table tr th,
.r-zc-table-small table tr td {
  padding: 4px 10px;
  font-size: 12px;
}
.r-zc-table-small .r-zc-table-cell {
  font-size: 12px;
}
.r-zc-table-middle table tr th,
.r-zc-table-middle table tr td {
  padding: 8px 12px;
  font-size: 14px;
}
.r-zc-table-middle .r-zc-table-cell {
  font-size: 14px;
}
.r-zc-table-large table tr th,
.r-zc-table-large table tr td {
  padding: 10px 14px;
  font-size: 16px;
}
.r-zc-table-large .r-zc-table-cell {
  font-size: 16px;
}
.r-zc-table-border .r-zc-table-header {
  border: 1px solid #e8e8e8;
  border-top: 0;
}
.r-zc-table-border .r-zc-table-header table tr th {
  border-top: 1px solid #e8e8e8;
}
.r-zc-table-border .r-zc-table-header table tr th:not(:last-child) {
  border-right: 1px solid #e8e8e8;
}
.r-zc-table-border .r-zc-table-body {
  border: 1px solid #e8e8e8;
  border-top: 0;
}
.r-zc-table-border .r-zc-table-body table tr:first-child td {
  border-top: 0;
}
.r-zc-table-border .r-zc-table-body table tr td:not(:last-child) {
  border-right: 1px solid #e8e8e8;
}
