.r-zc-table {
  box-sizing: border-box;
}
.r-zc-table-info {
  box-sizing: border-box;
  border: 1px solid #f50f50;
}
.r-zc-table-info table {
  min-width: 100%;
}
.r-zc-table-header {
  box-sizing: border-box;
}
.r-zc-table-body {
  box-sizing: border-box;
}
.r-zc-table-cell {
  font-weight: normal;
}
