@import '../assets/styles/var.less';

.@{prefix-name} {
  &-table {
    box-sizing: border-box;
    &-info {
      box-sizing: border-box;
      border: 1px solid #f50f50;
      table {
        min-width: 100%;
      }
    }
    &-header {
      box-sizing: border-box;
    }
    &-body {
      box-sizing: border-box;
    }
    &-cell {
      font-weight: normal;
    }
    &-cell-header {
    }
    &-cell-body {
    }

    &-normal {
    }
    &-large {
    }
    &-small {
    }
  }
}
