.r-zc-spinner {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: 1.5;
  font-size: 0;
}
.r-zc-spinner svg {
  font-size: 24px;
  animation: deepRound 1s infinite linear;
}
.r-zc-spinner-info {
  font-size: 14px;
  padding-top: 3px;
}
@keyframes deepRound {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
